article{
  background-color: var(--gray-100-base-color);
  padding-block: 88px 120px;
}

article .title{
  padding-bottom: 56px;
}

article .card-service{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.service{
  width: 280px;
  padding: 20px;
  border: 2px solid var(--gray-200-base-color);
  border-radius: 12px;
  h4{
    padding-block: 20px 8px;
  }
}

.service:hover{
  background-color: var(--gray-200-base-color);
}